extends ../main.layout.pug

block variables
    - var title = 'Главная'

block content
    button#modal-trigger Кнопка
    div#modal-content(style='display:none;') 
        h3 Заголовок
        p Содержимое модального окна.
        input#autocomplete(type='text')
        div#autocomplete_result(style='display:none')
block scripts
    script(src='src/scripts/popup.js')
    script(src='src/scripts/main.js')