extends ../main.layout.pug

block variables
    - var title = 'Главная'

block content
    button#modal-button Кнопка
block scripts
    script(src='src/scripts/popup.js')
    script(src='src/scripts/select.js')
    script(src='src/scripts/stations.js')
    script(src='src/scripts/main.js')